@import 'reset.scss';
@import 'variable.scss';
@import 'global.scss';

/* Main sectin */
body{
    max-width: 1920px;
	background: $main-bg;
	margin: 0 auto;
}
header{
    height: 212px;
    #header_infor{
        height: 175px;
        display: flex;
        max-width: 1142px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        .flag{
            margin-left: 28px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        }
        .flag:first-child{
            margin-left: 0;
        }
    }
}
#slider{
    max-width: 1920px;
    height: 770px;
    .owl-carousel{
        position: relative;
        .owl-dots{
            position: absolute;
            left:25%;
            right:25%;
            bottom: 50px;
            .owl-dot{
                span {
                    border: 1px solid #eeeeee;
                    background: transparent;
                }
                &.active{
                    span{
                        background: #eeeeee;
                    }
                }
            }
        }
        .owl-item {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right:0;
                bottom:0;
                background: linear-gradient(transparent, rgba(16, 68, 128, 0.8));
            }
            img {
                height: 770px;
            }
        }
    }
}
#products{
    display: flex;
    max-width: 1142px;
    margin: 114px auto 0 auto;
    flex-wrap: wrap;
    // font-family: 'Encode Sans', sans-serif;
    // font-family: 'Oswald', sans-serif;
    .one_product{
        text-align: center;
        flex: 0 0 50%;
        h3{
            font-family: 'Oswald', sans-serif;
            font-size: 40pt;
            font-weight: bold;
            color: #104480;
            &:after{
                content: "";
                width: 150px;
                height: 5px;
                display: block;
                background: #d71635;
                margin: 16px auto 50px auto;
            }
        }
        .product_infor{
            // background-image: url('../images/product1.png');
            position: absolute;
            background: #eeeeee;
            width: 421px;
            height: 613px;
            margin-left: 67px;
            img{
                position: absolute;
                top: 55px;
                left: -48px;
            }
        }
        span.product_intro{
            font-family: 'Encode Sans', sans-serif;
            // font-size: 16pt;
            line-height: 22px;
            margin-top: 420px;
            margin-bottom: 37px;
            width: 283px;
            display: inline-block;
            color: #626262;
        }
        .view_product_detail{
            display: block;
            background: #d71635;
            border-radius: 10px;
            padding: 15px 87px;
            margin: 0 auto;
            outline: none;
            border: none;
            color: #ffffff;
            font-size: 17.99pt;
            text-transform: uppercase;
            font-family: 'Encode Sans', sans-serif;
        }
    }
}
#base {
    background: red;
    display: inline-block;
    height: 55px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
  }
  #base:before {
    border-bottom: 35px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
  }
  .trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;

	height: 0;
	width: 125px;
}
#test{
    margin-left: 20px;
    margin-top: 55px;
    display: inline-block;
    position: relative;
    height: 0px;
    width: 0px;
    border-top: 50px solid transparent;
    border-right: 50px solid blue;
    border-bottom: 50px solid transparent;
}
#test1{
    width: 50px;
    height: 50px;
    background: red;
    display: inline-block;
    position: relative;
}
#test1:before {
    height: 0px;
    width: 0px;
    border-top: 25px solid transparent;
    border-right: 50px solid blue;
    border-bottom: 25px solid transparent;
    content: "";
    left: -50px;
    position: absolute;
  }
  #pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: red;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }