/*GLOBAL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Main sectin */
body {
  max-width: 1920px;
  background: #ffffff;
  margin: 0 auto; }

header {
  height: 212px; }
  header #header_infor {
    height: 175px;
    display: flex;
    max-width: 1142px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    header #header_infor .flag {
      margin-left: 28px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }
    header #header_infor .flag:first-child {
      margin-left: 0; }

#slider {
  max-width: 1920px;
  height: 770px; }
  #slider .owl-carousel {
    position: relative; }
    #slider .owl-carousel .owl-dots {
      position: absolute;
      left: 25%;
      right: 25%;
      bottom: 50px; }
      #slider .owl-carousel .owl-dots .owl-dot span {
        border: 1px solid #eeeeee;
        background: transparent; }
      #slider .owl-carousel .owl-dots .owl-dot.active span {
        background: #eeeeee; }
    #slider .owl-carousel .owl-item {
      position: relative; }
      #slider .owl-carousel .owl-item:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent, rgba(16, 68, 128, 0.8)); }
      #slider .owl-carousel .owl-item img {
        height: 770px; }

#products {
  display: flex;
  max-width: 1142px;
  margin: 114px auto 0 auto;
  flex-wrap: wrap; }
  #products .one_product {
    text-align: center;
    flex: 0 0 50%; }
    #products .one_product h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 40pt;
      font-weight: bold;
      color: #104480; }
      #products .one_product h3:after {
        content: "";
        width: 150px;
        height: 5px;
        display: block;
        background: #d71635;
        margin: 16px auto 50px auto; }
    #products .one_product .product_infor {
      position: relative;
      background: #eeeeee;
      width: 421px;
      height: 613px;
      margin-left: 67px; }
      #products .one_product .product_infor img {
        position: absolute;
        top: 55px;
        left: -48px; }
    #products .one_product span.product_intro {
      font-family: 'Encode Sans', sans-serif;
      line-height: 22px;
      margin-top: 420px;
      margin-bottom: 37px;
      width: 283px;
      display: inline-block;
      color: #626262; }
    #products .one_product .view_product_detail {
      display: block;
      background: #d71635;
      border-radius: 10px;
      padding: 15px 87px;
      margin: 0 auto;
      outline: none;
      border: none;
      color: #ffffff;
      font-size: 17.99pt;
      text-transform: uppercase;
      font-family: 'Encode Sans', sans-serif; }

#test1 {
  margin-left: 100px;
  width: 50px;
  height: 50px;
  background: red;
  display: inline-block;
  position: relative; }

#test1:before {
  height: 0px;
  width: 0px;
  border-top: 25px solid transparent;
  border-right: 50px solid blue;
  border-bottom: 25px solid transparent;
  content: "";
  left: -50px;
  position: absolute; }

/*# sourceMappingURL=index.css.map */
