/*GLOBAL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -ms-flex-order: -1;
  order: -1; }

.order-last {
  -ms-flex-order: 13;
  order: 13; }

.order-0 {
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -ms-flex-order: 8;
  order: 8; }

.order-9 {
  -ms-flex-order: 9;
  order: 9; }

.order-10 {
  -ms-flex-order: 10;
  order: 10; }

.order-11 {
  -ms-flex-order: 11;
  order: 11; }

.order-12 {
  -ms-flex-order: 12;
  order: 12; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-sm-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-sm-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-sm-0 {
    margin-left: 0; }

  .offset-sm-1 {
    margin-left: 8.333333%; }

  .offset-sm-2 {
    margin-left: 16.666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.333333%; }

  .offset-sm-5 {
    margin-left: 41.666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.333333%; }

  .offset-sm-8 {
    margin-left: 66.666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.333333%; }

  .offset-sm-11 {
    margin-left: 91.666667%; } }
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-md-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-md-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-md-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-md-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-md-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-md-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-md-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-md-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-md-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-md-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-md-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-md-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-md-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-md-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-md-0 {
    margin-left: 0; }

  .offset-md-1 {
    margin-left: 8.333333%; }

  .offset-md-2 {
    margin-left: 16.666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.333333%; }

  .offset-md-5 {
    margin-left: 41.666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.333333%; }

  .offset-md-8 {
    margin-left: 66.666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.333333%; }

  .offset-md-11 {
    margin-left: 91.666667%; } }
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-lg-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-lg-0 {
    margin-left: 0; }

  .offset-lg-1 {
    margin-left: 8.333333%; }

  .offset-lg-2 {
    margin-left: 16.666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.333333%; }

  .offset-lg-5 {
    margin-left: 41.666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.333333%; }

  .offset-lg-8 {
    margin-left: 66.666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.333333%; }

  .offset-lg-11 {
    margin-left: 91.666667%; } }
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xl-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-xl-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-xl-0 {
    margin-left: 0; }

  .offset-xl-1 {
    margin-left: 8.333333%; }

  .offset-xl-2 {
    margin-left: 16.666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.333333%; }

  .offset-xl-5 {
    margin-left: 41.666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.333333%; }

  .offset-xl-8 {
    margin-left: 66.666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.333333%; }

  .offset-xl-11 {
    margin-left: 91.666667%; } }
/* Main sectin */
body {
  max-width: 1920px;
  background: #ffffff;
  margin: 0 auto;
  position: relative; }

header {
  height: 212px; }
  header #header_infor {
    height: 175px;
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    header #header_infor #wrap_flags {
      font-size: 0; }
    header #header_infor .flag {
      margin-left: 30px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }
    header #header_infor .flag:first-child {
      margin-left: 0; }
  header .menu-bar {
    opacity: 0;
    visibility: hidden;
    display: none; }

nav {
  position: relative;
  height: 72px;
  z-index: 10; }
  nav .container {
    padding-left: 0;
    padding-right: 0; }
  nav ul.sub_menu {
    opacity: 0;
    visibility: hidden; }
  nav .language {
    width: 60px;
    height: 20px;
    display: inline-block;
    background: #5e89d8;
    position: relative;
    border-radius: 5px; }
    nav .language a {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 20px;
      text-decoration: none;
      width: 37px;
      background: #ffffff;
      border-radius: 5px;
      color: #5e89d8;
      font-family: 'Oswald', sans-serif;
      font-size: 14px; }
  nav .container > ul {
    position: relative;
    display: flex;
    justify-content: flex-start;
    background: #104480;
    padding: 0 50px;
    height: 72px; }
    nav .container > ul li.products_menu_item {
      position: static; }
      nav .container > ul li.products_menu_item:hover .products_menu {
        visibility: visible;
        opacity: 1; }
    nav .container > ul .products_menu {
      visibility: hidden;
      opacity: 0;
      padding: 0 15px 60px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #ffffff;
      display: flex; }
      nav .container > ul .products_menu .one_menu_product {
        position: relative;
        flex: 1;
        padding: 0 15px; }
        nav .container > ul .products_menu .one_menu_product::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 84%;
          bottom: 0;
          right: 0;
          background: #949494; }
        nav .container > ul .products_menu .one_menu_product:last-child::after {
          display: none; }
      nav .container > ul .products_menu h3.title_menu_product {
        text-align: left;
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: #626262; }
        nav .container > ul .products_menu h3.title_menu_product:hover {
          color: #104480; }
      nav .container > ul .products_menu .wrap_menu_product_img {
        text-align: center;
        height: 185px; }
      nav .container > ul .products_menu li {
        text-align: left;
        line-height: 36px;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: #949494; }
        nav .container > ul .products_menu li:hover {
          color: #104480; }
          nav .container > ul .products_menu li:hover a {
            border-bottom: 1px solid #104480;
            padding-bottom: 1px; }
    nav .container > ul > li:hover ul.sub_menu {
      opacity: 1;
      visibility: visible;
      background: #ffffff;
      position: absolute;
      top: 100%;
      left: 22px;
      width: 220px;
      padding-left: 20px; }
      nav .container > ul > li:hover ul.sub_menu a {
        color: #626262;
        text-decoration: none; }
      nav .container > ul > li:hover ul.sub_menu li {
        line-height: 55px;
        text-align: left;
        font-size: 16px; }
      nav .container > ul > li:hover ul.sub_menu li:hover a {
        color: #104480; }
    nav .container > ul > li.active > a, nav .container > ul > li:hover > a {
      color: #5e89d8;
      text-decoration: none; }
      nav .container > ul > li.active > a::after, nav .container > ul > li:hover > a::after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #5e89d8; }
    nav .container > ul li.wrap_language {
      display: flex;
      align-items: center;
      justify-content: center; }
    nav .container > ul > li {
      flex: 1;
      text-align: center;
      line-height: 72px;
      position: relative; }
      nav .container > ul > li > a {
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        display: inline-block; }

/* mobile nav */
#NavDrawer {
  right: -300px;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 300px;
  background: #eeb855; }
  #NavDrawer a {
    text-decoration: none;
    cursor: pointer;
    color: #626262; }
  #NavDrawer.open {
    right: 0px; }
  #NavDrawer .icon-minus {
    display: none; }
  #NavDrawer ul {
    list-style: none; }
  #NavDrawer .mobile-menu {
    width: 100%;
    max-width: 350px;
    margin: 0px auto 0px auto;
    border-radius: 4px; }
    #NavDrawer .mobile-menu li.open .dropdownlink {
      color: #fff; }
    #NavDrawer .mobile-menu li.open .dropdownlink .fa-chevron-down {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    #NavDrawer .mobile-menu li:last-child .dropdownlink {
      border-bottom: 0; }
    #NavDrawer .mobile-menu li.open .submenuItems {
      display: block; }
  #NavDrawer .drawer__header {
    height: 65px;
    line-height: 65px;
    border-bottom: 0px;
    padding: 0px 15px;
    width: 100%;
    text-align: right; }
    #NavDrawer .drawer__header .drawer__close button {
      right: 0px;
      color: #ffffff;
      background: transparent;
      outline: 0px;
      border: 0px;
      border-radius: 0px;
      padding-right: 0px; }
      #NavDrawer .drawer__header .drawer__close button i {
        font-size: 24px; }
      #NavDrawer .drawer__header .drawer__close button span {
        display: inline-block;
        margin-right: 5px;
        transform: translateY(-3px);
        text-transform: uppercase;
        font-weight: bold; }
  #NavDrawer .transition {
    transition: all 0.3s; }
  #NavDrawer .dropdownlink {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    #NavDrawer .dropdownlink i {
      position: absolute;
      right: 20px; }
    #NavDrawer .dropdownlink .fa-chevron-down {
      right: 12px;
      left: auto; }

.submenuItems {
  display: none; }

.submenuItems a {
  display: block;
  color: #fff;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

.submenuItems a:hover {
  color: #fff;
  text-decoration: none; }

#NavDrawer ul.mobile-menu > li.mobile-nav__item {
  padding: 0px;
  display: block;
  padding: 15px;
  background: #15bd15; }

#NavDrawer ul.mobile-menu > li.mobile-nav__search form input {
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  padding: 0px 5px 0px 15px;
  border: 0px;
  outline: 0px;
  width: 100%;
  background: #fff; }

#NavDrawer ul.mobile-menu > li.mobile-nav__search .input-group-btn {
  position: absolute;
  right: 0px;
  top: -2px; }

.cart-overlay {
  background: transparent;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.cart-overlay.open {
  background: rgba(0, 0, 0, 0.5);
  z-index: 99; }

.click-menu {
  font-size: 26px;
  color: #626262;
  cursor: pointer; }

/* end mobile nav */
#slider {
  max-width: 1920px;
  position: relative;
  margin: auto; }
  #slider .mySlides {
    display: none;
    position: relative; }
    #slider .mySlides:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent, rgba(16, 68, 128, 0.8)); }
  #slider .slider_img {
    vertical-align: middle; }
  #slider .dots {
    text-align: center;
    position: absolute;
    bottom: 56px;
    left: 0;
    right: 0; }
  #slider .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #eeeeee;
    background: transparent;
    transition: background-color 0.6s ease; }
  #slider .active {
    background: #eeeeee; }

#products {
  max-width: 1140px;
  margin: 114px auto 0 auto; }
  #products .one_product {
    text-align: center; }
    #products .one_product h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: bold;
      color: #104480; }
      #products .one_product h3:after {
        content: "";
        width: 150px;
        height: 5px;
        display: block;
        background: #d71635;
        margin: 16px auto 72px auto; }
    #products .one_product .product_infor {
      position: relative;
      background: #eeeeee;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 40px; }
      #products .one_product .product_infor .wrap_product_img {
        display: flex;
        align-items: center;
        height: 415px;
        padding-top: 60px; }
      #products .one_product .product_infor .product_img {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        width: 120%;
        max-height: 100%; }
    #products .one_product span.product_intro {
      font-family: 'Encode Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
      margin: 20px 15px 37px 15px;
      display: inline-block;
      color: #626262; }
    #products .one_product .view_product_detail {
      display: block;
      background: #d71635;
      border-radius: 5px;
      padding: 15px 87px;
      margin: 0 auto;
      outline: none;
      border: none;
      color: #ffffff;
      font-size: 17.99px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Encode Sans', sans-serif; }

#wrap_services {
  font-size: 0;
  margin-top: 83px;
  height: 800px;
  background: url("../images/service_bg.png");
  position: relative; }
  #wrap_services #services {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 68, 128, 0.8);
    position: absolute; }
  #wrap_services #wrap_all_services {
    position: relative;
    display: flex;
    align-items: center; }
  #wrap_services #available_services {
    width: 352px;
    display: inline-block;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end; }
    #wrap_services #available_services li {
      transform-origin: 0 0;
      height: 67px;
      display: flex;
      align-items: center;
      transform: skew(-20deg);
      background: #ffffff;
      width: 294px;
      margin-bottom: 23px; }
      #wrap_services #available_services li .service_name {
        font-size: 32px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        color: #f9687a;
        transform: skew(20deg); }
      #wrap_services #available_services li img {
        transform: skew(20deg);
        padding: 0px 10px 0px 15px; }
      #wrap_services #available_services li:nth-child(2) {
        transform: skew(-20deg) translateX(-33px);
        background: #d71635; }
        #wrap_services #available_services li:nth-child(2) .service_name {
          color: #ffffff; }
      #wrap_services #available_services li:nth-child(3) {
        transform: skew(20deg) translateX(-33px);
        transform-origin: 0 100%; }
        #wrap_services #available_services li:nth-child(3) .service_name, #wrap_services #available_services li:nth-child(3) img {
          transform: skew(-20deg); }
      #wrap_services #available_services li:last-child {
        transform: skew(20deg);
        transform-origin: 0 100%;
        margin-bottom: 0px; }
        #wrap_services #available_services li:last-child .service_name, #wrap_services #available_services li:last-child img {
          transform: skew(-20deg); }
  #wrap_services #wrap_service_info {
    font-family: 'Oswald', sans-serif;
    padding-right: 30px;
    width: 487px;
    height: 508px;
    background: #eeeeee;
    display: inline-block;
    position: relative;
    font-size: 23px; }
    #wrap_services #wrap_service_info img.service_info_img {
      padding: 40px 0 30px 0;
      width: 100%; }
    #wrap_services #wrap_service_info a.view_detail_service {
      font-family: 'Encode Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #d71635;
      text-decoration: none; }
  #wrap_services #wrap_service_info:before {
    height: 0px;
    width: 0px;
    border-top: 254px solid transparent;
    border-right: 102px solid #eeeeee;
    border-bottom: 254px solid transparent;
    content: "";
    left: -102px;
    position: absolute; }
  #wrap_services .service_info_title {
    font-size: 23px;
    font-weight: bold;
    line-height: 28px;
    color: #626262;
    padding-bottom: 12px; }
  #wrap_services .service_detail_info {
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #949494;
    margin-bottom: 10px;
    text-align: justify; }
  #wrap_services #services_highlights {
    width: 295px;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    background: #ffffff;
    opacity: 0.7;
    height: 508px; }
    #wrap_services #services_highlights h3 {
      margin: 70px 45px 9px 40px;
      color: #104480;
      font-size: 32px;
      font-weight: bold;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase; }
    #wrap_services #services_highlights li {
      display: flex;
      align-items: center;
      font-family: 'Oswald', sans-serif;
      color: #626262;
      font-size: 23px;
      font-weight: bold;
      border-bottom: 1px solid #949494;
      margin: 0 40px 0 14px;
      padding: 26px; }
      #wrap_services #services_highlights li:last-child {
        border-bottom: none; }
      #wrap_services #services_highlights li img {
        margin-right: 19px; }
  #wrap_services img.service_person {
    position: absolute;
    top: -27px;
    right: -125px; }

.title {
  margin: 70px auto 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase; }
  .title:after {
    content: "";
    width: 150px;
    height: 5px;
    display: block;
    background: #d71635;
    margin: 16px auto 50px auto; }

.date {
  color: #eeeeee;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; }

.view_detail_news {
  margin: 15px 0; }
  .view_detail_news a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Encode Sans', sans-serif; }

#news {
  margin: 85px auto 105px auto; }
  #news .news_title {
    color: #104480; }
  #news .row {
    height: 555px; }
  #news .larger_news {
    background: url("../images/img_news_1.png");
    height: 555px;
    position: relative;
    overflow: hidden; }
    #news .larger_news::before {
      content: "";
      display: block;
      background: rgba(16, 68, 128, 0.8);
      width: 100%;
      height: 55%;
      position: absolute;
      bottom: 0;
      transform: skewY(6deg);
      transform-origin: 0 100%; }
    #news .larger_news #larger_news_content {
      font-family: 'Oswald', sans-serif;
      position: absolute;
      bottom: 0;
      padding: 0 67px;
      color: #ffffff; }
      #news .larger_news #larger_news_content .larger_news_title {
        text-align: left;
        font-size: 32px;
        margin: 10px 0;
        text-transform: none;
        line-height: 32px;
        font-weight: bold; }
        #news .larger_news #larger_news_content .larger_news_title::after {
          margin: 16px 0 20px 0; }
      #news .larger_news #larger_news_content .larger_news_detail {
        font-family: 'Encode Sans', sans-serif;
        color: #eeeeee;
        font-size: 16px;
        line-height: 22px; }
  #news .small_news img {
    width: 100%;
    height: 100%; }
  #news .small_news .date {
    color: #949494; }
  #news .small_news .small_news_title {
    color: #104480;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    margin: 15px 0 45px 0; }
  #news .small_news .small_news_detail {
    font-family: 'Encode Sans', sans-serif;
    margin-top: 18px;
    color: #626262;
    font-size: 16px;
    line-height: 20px; }
  #news .small_news .view_detail_news {
    margin: 20px 0 15px 0; }
    #news .small_news .view_detail_news a {
      color: #d71635; }

section#recruitment {
  height: 594px; }
  section#recruitment .container-fluid, section#recruitment .col-md-4, section#recruitment .col-md-8 {
    padding-left: 0;
    padding-right: 0; }
  section#recruitment .recruitment_info {
    background: #104480;
    padding: 210px 56px 0 217px;
    text-align: right;
    height: 100%; }
  section#recruitment .recruitment_title {
    margin: 0;
    text-align: right; }
    section#recruitment .recruitment_title::after {
      display: inline-block; }
  section#recruitment .recruitment_content {
    font-family: 'Encode Sans', sans-serif;
    font-size: 15.99px;
    line-height: 21px;
    color: #fffefe; }
  section#recruitment button.read_more {
    width: 250px;
    height: 55px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px auto;
    color: #fff;
    background: #da2238;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 0; }
  section#recruitment .wrap_recruitment_item {
    flex: 1;
    background: url("../images/recruitment1.png") no-repeat;
    position: relative;
    overflow: hidden; }
    section#recruitment .wrap_recruitment_item .recruitment_item {
      padding: 45px 55px 135px 58px;
      position: relative; }
    section#recruitment .wrap_recruitment_item:hover::before {
      height: 110%; }
    section#recruitment .wrap_recruitment_item:hover .recruitment_item_detail, section#recruitment .wrap_recruitment_item:hover .view_detail_news {
      opacity: 1;
      visibility: visible; }
    section#recruitment .wrap_recruitment_item::before {
      content: "";
      display: block;
      background: rgba(16, 68, 128, 0.8);
      width: 100%;
      height: 30%;
      position: absolute;
      transform: skewY(-7deg);
      transform-origin: 0 0;
      transition: all 0.5s ease-out; }
    section#recruitment .wrap_recruitment_item .recruitment_item_title {
      margin: 35px 0 58px;
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      font-size: 32px;
      text-transform: uppercase; }
    section#recruitment .wrap_recruitment_item .recruitment_item_detail {
      padding-bottom: 50px;
      color: #eeeeee;
      font-family: 'Encode Sans', sans-serif;
      font-size: 16px;
      line-height: 20px;
      opacity: 0;
      visibility: hidden;
      transition: all 1s ease-out; }
    section#recruitment .wrap_recruitment_item .view_detail_news {
      opacity: 0;
      visibility: hidden;
      transition: all 1s ease-out; }

footer {
  margin-top: 80px; }
  footer .title.contact_title {
    color: #104480;
    text-align: left; }
    footer .title.contact_title::after {
      margin: 0;
      position: relative;
      top: 85px;
      left: 0px;
      width: 75px; }
  footer .row.footer_infor {
    margin: 63px 0; }
    footer .row.footer_infor p {
      margin: 0 0 55px;
      font-size: 14px;
      color: #949494;
      font-family: 'Encode Sans', sans-serif;
      line-height: 25px; }
      footer .row.footer_infor p:last-child {
        margin: 0; }
  footer .company_info_title {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #626262;
    margin-bottom: 21px; }
  footer .logo_footer {
    text-align: center;
    width: 100%; }
    footer .logo_footer p {
      margin: 30px 0;
      font-size: 15px;
      color: #949494;
      font-family: 'Encode Sans', sans-serif; }

#map {
  width: 100%;
  height: 100%;
  background-color: grey; }

.service_banner {
  background: url("../images/service_banner.png");
  max-width: 1920px;
  height: 466px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase; }

section.services {
  margin-top: 32px; }
  section.services .row {
    background: #104480; }
  section.services .service_img_item {
    padding: 0; }
  section.services .service_content_item {
    height: 514px;
    padding: 0; }
    section.services .service_content_item::before {
      height: 0px;
      width: 0px;
      border-top: 514px solid transparent;
      border-right: 96px solid #104480;
      content: "";
      left: -96px;
      position: absolute; }
  section.services .left_service {
    height: 514px;
    padding: 0; }
    section.services .left_service::before {
      height: 0px;
      width: 0px;
      border-top: 514px solid transparent;
      border-left: 96px solid #104480;
      content: "";
      right: -96px;
      position: absolute;
      z-index: 2;
      border-right: none;
      left: auto; }
  section.services .service_detail_img {
    height: 100%;
    width: 100%; }
  section.services .one_service {
    background: #104480;
    height: 100%;
    padding: 50px 0 60px 0;
    text-align: center; }
    section.services .one_service .title.service_title {
      font-size: 23px;
      margin: 15px auto 30px auto;
      font-family: 'Oswald', sans-serif;
      line-height: 40px; }
      section.services .one_service .title.service_title::after {
        margin: 25px auto 32px auto; }
    section.services .one_service p {
      font-size: 16px;
      font-family: 'Encode Sans', sans-serif;
      color: #ffffff;
      line-height: 25px; }

@media only screen and (max-width: 1199px) {
  header .menu-bar {
    opacity: 1;
    visibility: visible;
    display: block;
    position: absolute;
    right: 30px;
    top: 18px; }

  nav {
    display: none; } }
@media only screen and (max-width: 1023px) {
  #wrap_services #wrap_service_info {
    padding-left: 30px; }
    #wrap_services #wrap_service_info:before {
      display: none; }
  #wrap_services #wrap_all_services {
    justify-content: center; }
  #wrap_services #available_services {
    display: none; }
  #wrap_services img.service_person {
    display: none; } }
@media (max-width: 991px) {
  #products .one_product {
    margin-bottom: 30px; }
    #products .one_product .product_infor {
      width: 55%; }
      #products .one_product .product_infor .wrap_product_img {
        height: 350px;
        padding-top: 30px; }
    #products .one_product h3::after {
      margin: 16px auto 36px auto; } }
@media (min-width: 375px) and (max-width: 767px) {
  #slider .dots {
    bottom: 15px; }

  #products .one_product .product_infor {
    width: 75%; }
    #products .one_product .product_infor .wrap_product_img {
      height: 300px; }
  #products .one_product h3 {
    font-size: 28px; }

  #wrap_services .title {
    font-size: 30px; }
  #wrap_services #wrap_service_info {
    width: auto;
    height: auto; }
  #wrap_services #services_highlights {
    display: none; }
  #wrap_services .view_detail_service {
    padding-bottom: 15px;
    display: block; }

  .small_news {
    margin-top: 25px; } }
@media (min-width: 375px) and (max-width: 1199px) {
  #news .larger_news #larger_news_content .larger_news_detail {
    display: none; }

  header {
    padding: 0 30px; }
    header #wrap_flags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      header #wrap_flags img {
        margin-top: 20px;
        width: 60px;
        height: 40px; } }

/*# sourceMappingURL=index.css.map */
