@import 'reset.scss';
@import 'variable.scss';
@import 'global.scss';

/* Main sectin */
body{
    max-width: 1920px;
	background: $main-bg;
	margin: 0 auto;
}
header{
    height: 212px;
    #header_infor{
        height: 175px;
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        #wrap_flags{
            font-size: 0;
        }
        .flag{
            margin-left: 30px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        }
        .flag:first-child{
            margin-left: 0;
        }
    }
}
nav {
    position: relative;
    height: 72px;
    z-index: 10;
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    ul.sub_menu{
        opacity: 0;
        visibility: hidden;
    }
    .language {
        width: 60px;
        height: 20px;
        display: inline-block;
        background: #5e89d8;
        position: relative;
        border-radius: 5px;
        a {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 20px;
            text-decoration: none;
            width: 37px;
            background: #ffffff;
            border-radius: 5px;
            color: #5e89d8;
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
        }
    }
    .container >ul {
        position: relative;
        display: flex;
        justify-content: flex-start;
        background: #104480;
        padding: 0 50px;
        height: 72px;
        li.products_menu_item{
            position: static;
            &:hover{
                .products_menu{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .products_menu {
            visibility: hidden;
            opacity: 0;
            padding: 0 15px 60px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: #ffffff;
            display: flex;
            .one_menu_product{
                position: relative;
                flex: 1;
                padding: 0 15px;
                &::after{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 84%;
                    bottom: 0;
                    right: 0;
                    background: #949494;
                }
                &:last-child::after{
                    display: none;
                }
            }
            h3.title_menu_product {
                text-align: left;
                font-family: 'Oswald', sans-serif;
                font-size: 17px;
                font-weight: bold;
                color: #626262;
                &:hover{
                    color: #104480;
                }
            }
            .wrap_menu_product_img {
                text-align: center;
                height: 185px;
            }
            li {
                text-align: left;
                line-height: 36px;
                font-family: 'Oswald', sans-serif;
                font-size: 14px;
                color: #949494;
                &:hover{
                    color: #104480;
                    a{
                        border-bottom: 1px solid #104480;
                        padding-bottom: 1px;
                    }
                }
            }
        }
        &>li:hover{
            ul.sub_menu{
                opacity: 1;
                visibility: visible;
                background: #ffffff;
                position: absolute;
                top: 72px;
                left: 22px;
                width: 220px;
                a{
                    color: #626262;
                    text-decoration: none;
                }
                li{
                    line-height: 55px;
                    text-align: left;
                    padding-left: 20px;
                    font-size: 16px;
                }
                li:hover{
                    a{
                        color: #104480;
                    }
                }
            }
        }
        &>li.active, &>li:hover{
            &>a{
                color: #5e89d8;
                text-decoration: none;
                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 7px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #5e89d8;
                }
            }
        }
        li.wrap_language{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &>li{
            flex: 1;
            text-align: center;
            line-height: 72px;
            position: relative;
            &>a {
                font-family: 'Oswald', sans-serif;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                font-size: 16px;
                position: relative;
                display: inline-block;
            }
        }
    }
}
#slider{
    max-width: 1920px;
    height: 770px;
    .owl-carousel{
        position: relative;
        .owl-dots{
            position: absolute;
            left:25%;
            right:25%;
            bottom: 50px;
            .owl-dot{
                span {
                    border: 1px solid #eeeeee;
                    background: transparent;
                }
                &.active{
                    span{
                        background: #eeeeee;
                    }
                }
            }
        }
        .owl-item {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right:0;
                bottom:0;
                background: linear-gradient(transparent, rgba(16, 68, 128, 0.8));
            }
            img {
                height: 770px;
            }
        }
    }
}
#products{
    display: flex;
    max-width: 1140px;
    margin: 114px auto 0 auto;
    flex-wrap: wrap;
    // font-family: 'Encode Sans', sans-serif;
    // font-family: 'Oswald', sans-serif;
    .one_product{
        text-align: center;
        flex: 0 0 50%;
        h3{
            font-family: 'Oswald', sans-serif;
            font-size: 40px;
            font-weight: bold;
            color: #104480;
            &:after{
                content: "";
                width: 150px;
                height: 5px;
                display: block;
                background: #d71635;
                margin: 16px auto 72px auto;
            }
        }
        .product_infor{
            // background-image: url('../images/product1.png');
            position: relative;
            background: #eeeeee;
            width: 421px;
            height: 613px;
            margin-left: 67px;
            img{
                position: absolute;
                top: 55px;
                left: -48px;
            }
        }
        span.product_intro{
            font-family: 'Encode Sans', sans-serif;
            font-size: 16px;
            line-height: 22px;
            margin-top: 420px;
            margin-bottom: 37px;
            width: 283px;
            display: inline-block;
            color: #626262;
        }
        .view_product_detail{
            display: block;
            background: #d71635;
            border-radius: 5px;
            padding: 15px 87px;
            margin: 0 auto;
            outline: none;
            border: none;
            color: #ffffff;
            font-size: 17.99px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Encode Sans', sans-serif;
        }
    }
}
#wrap_services{
    font-size: 0;
    margin-top: 83px;
    height: 800px;
    background: url('../images/service_bg.png');
    position: relative;
    #services{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(16, 68, 128, 0.8);
        position: absolute;
    }
    #wrap_all_services{
        margin-left: 390px;
        display: flex;
        align-items: center;
    }
    #available_services{
        width: 352px;
        // background: red;
        display: inline-block;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        li{
            transform-origin: 0 0;
            height: 67px;
            display: flex;
            align-items: center;
            transform: skew(-20deg);
            background: #ffffff;
            width: 294px;
            margin-bottom: 23px;
            .service_name{
                font-size: 32px;
                font-weight: bold;
                font-family: 'Oswald', sans-serif;
                color: #f9687a;
                transform: skew(20deg);
            }
            img{
                transform: skew(20deg);
                padding: 0px 10px 0px 15px;
            }
            &:nth-child(2){
                transform: skew(-20deg) translateX(-33px);
                background: #d71635;
                .service_name{
                    color: #ffffff;
                }
            }
            &:nth-child(3){
                .service_name, img{
                    transform: skew(-20deg);
                }
                transform: skew(20deg) translateX(-33px);
                transform-origin: 0 100%;
            }
            &:last-child{
                .service_name, img{
                    transform: skew(-20deg);
                }
                transform: skew(20deg);
                transform-origin: 0 100%;
                margin-bottom: 0px;
            }
        }
    }
    #wrap_service_info{
        // margin-left: 684px;
        font-family: 'Oswald', sans-serif;
        padding-right: 30px;
        width: 487px;
        height: 508px;
        background: #eeeeee;
        display: inline-block;
        position: relative;
        font-size: 23px;
        img.service_info_img{
            padding: 40px 0 30px 0;
            width: 100%;
        }
        a.view_detail_service {
            font-family: 'Encode Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #d71635;
            text-decoration: none;
        }
    }
    #wrap_service_info:before {
        height: 0px;
        width: 0px;
        border-top: 254px solid transparent;
        border-right: 102px solid #eeeeee;
        border-bottom: 254px solid transparent;
        content: "";
        left: -102px;
        position: absolute;
    }
    .service_info_title {
        font-size: 23px;
        font-weight: bold;
        line-height: 28px;
        color: #626262;
        padding-bottom: 12px;
    }
    .service_detail_info {
        font-family: 'Encode Sans', sans-serif;
        font-size: 16px;
        line-height: 23px;
        color: #949494;
        margin-bottom: 10px;
        text-align: justify;
    }
    #services_highlights {
        width: 295px;
        font-size: 23px;
        font-family: 'Oswald', sans-serif;
        background: #ffffff;
        opacity: 0.7;
        height: 508px;
        h3{
            margin: 70px 45px 9px 40px;
            color: #104480;
            font-size: 32px;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
        }
        li{
            display: flex;
            align-items: center;
            font-family: 'Oswald', sans-serif;
            color: #626262;
            font-size: 23px;
            font-weight: bold;
            border-bottom: 1px solid #949494;
            margin: 0 40px 0 14px;
            padding: 26px;
            &:last-child{
                border-bottom: none;
            }
            img {
                margin-right: 19px;
            }
        }
    }
    img.service_person {
        position: relative;
        top: 0;
        left: -88px;
    }
}
.title{
    margin: 70px auto 0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    &:after {
        content: "";
        width: 150px;
        height: 5px;
        display: block;
        background: #d71635;
        margin: 16px auto 50px auto;
    }
}
.date {
    color: #eeeeee;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.view_detail_news{
    margin: 15px 0;
    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Encode Sans', sans-serif;
    }
}
#news{
    margin: 85px auto 105px auto;
    .news_title{
        color: #104480;
    }
    .row{
        height: 555px;
    }
    .larger_news{
        background: url('../images/img_news_1.png');
        height: 555px;
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            display: block;
            background: rgba(16, 68, 128, 0.8);
            width: 100%;
            height: 55%;
            position: absolute;
            bottom: 0;
            transform: skewY(6deg);
            transform-origin: 0 100%;
        }
        #larger_news_content {
            font-family: 'Oswald', sans-serif;
            position: absolute;
            bottom: 0;
            padding: 0 67px;
            color: #ffffff;
            .larger_news_title {
                text-align: left;
                font-size: 32px;
                margin: 10px 0;
                text-transform: none;
                line-height: 32px;
                font-weight: bold;
                &::after{
                    margin: 16px 0 20px 0;
                }
            }
            .larger_news_detail {
                font-family: 'Encode Sans', sans-serif;
                color: #eeeeee;
                font-size: 16px;
                line-height: 22px;
            }
        }

    }
    .small_news{
        .date {
            color: #949494;
        }
        .small_news_title {
            color: #104480;
            font-weight: bold;
            font-size: 23px;
            font-family: 'Oswald', sans-serif;
            margin: 15px 0 45px 0;
        }
        .small_news_detail {
            font-family: 'Encode Sans', sans-serif;
            margin-top: 30px;
            color: #626262;
            font-size: 16px;
            line-height: 20px;
        }
        .view_detail_news{
            margin: 20px 0 15px 0;
            a{
                color: #d71635;
            }
        }
    }
}
section#recruitment {
    height: 594px;
    display: flex;
    flex-wrap: wrap;
    .recruitment_info {
        width: 33%;
        background: #104480;
        padding: 210px 56px 0 217px;
        text-align: right;
    }
    .recruitment_title {
        margin: 0;
        text-align: right;
        &::after{
            display: inline-block;
        }
    }
    .recruitment_content {
        font-family: 'Encode Sans', sans-serif;
        font-size: 15.99px;
        line-height: 21px;
        color: #fffefe;
    }
    button.read_more {
        width: 250px;
        height: 55px;
        line-height: 25px;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        margin: 30px auto;
        color: #fff;
        background: #da2238;
        font-family: 'Encode Sans', sans-serif;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        padding: 0;
    }
    div#wrap_recruitment_items {
        width: 67%;
        display: flex;
        .wrap_recruitment_item {
            flex: 1;
            background: url('../images/recruitment1.png') no-repeat;
            position: relative;
            overflow: hidden;
            .recruitment_item{
                padding: 45px 55px 135px 58px;
                position: relative;
            }
            &:hover{
                &::before{
                    height: 110%;
                }
                .recruitment_item_detail, .view_detail_news {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &::before{
                content: "";
                display: block;
                background: rgba(16, 68, 128, 0.8);
                width: 100%;
                height: 30%;
                position: absolute;
                transform: skewY(-7deg);
                transform-origin: 0 0;
                transition: all 0.5s ease-out;
            }
            .recruitment_item_title {
                margin: 35px 0 58px;
                color: #ffffff;
                font-family: 'Oswald', sans-serif;
                font-weight: bold;
                font-size: 32px;
                text-transform: uppercase;
            }
            .recruitment_item_detail {
                padding-bottom: 50px;
                color: #eeeeee;
                font-family: 'Encode Sans', sans-serif;
                font-size: 16px;
                line-height: 20px;
                opacity: 0;
                visibility: hidden;
                transition: all 1s ease-out;
            }
            .view_detail_news{
                opacity: 0;
                visibility: hidden;
                transition: all 1s ease-out;
            }
        }
    }
}
footer{
    margin-top: 80px;
    .title.contact_title {
        color: #104480;
        text-align: left;
        &::after{
            margin: 0;
            position: relative;
            top: 85px;
            left: 0px;
            width: 75px;
        }
    }
    .row.footer_infor {
        margin: 63px 0;
        p {
            margin: 0 0 55px;
            font-size: 14px;
            color: #949494;
            font-family: 'Encode Sans', sans-serif;
            line-height: 25px;
            &:last-child{
                margin: 0;
            }
        }
    }
    .company_info_title {
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        color: #626262;
        margin-bottom: 21px;
    }
    .logo_footer {
        text-align: center;
        width: 100%;
        p {
            margin: 30px 0;
            font-size: 15px;
            color: #949494;
            font-family: 'Encode Sans', sans-serif;
        }
    }
}
#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}
// styles for service page
.service_banner{
    background: url('../images/service_banner.png');
    max-width: 1920px;
    height: 466px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
section.services{
    margin-top: 32px;
    .row{
        background: #104480;
    }
    .service_img_item{
        padding: 0;
    }
    .service_content_item{
        height: 514px;
        padding: 0;
        &::before{
            height: 0px;
            width: 0px;
            border-top: 514px solid transparent;
            border-right: 96px solid #104480;
            content: "";
            left: -96px;
            position: absolute;
        }
    }
    .left_service{
        height: 514px;
        padding: 0;
        &::before{
            height: 0px;
            width: 0px;
            border-top: 514px solid transparent;
            border-left: 96px solid #104480;
            content: "";
            right: -96px;
            position: absolute;
            z-index: 2;
            border-right: none;
            left: auto;
        }
    }
    .service_detail_img{
        height: 100%;
        width: 100%;
    }
    .one_service{
        background: #104480;
        height: 100%;
        padding: 50px 0 60px 0;
        text-align: center;
        .title.service_title {
            font-size: 23px;
            margin: 15px auto 30px auto;
            font-family: 'Oswald', sans-serif;
            line-height: 40px;
            &::after{
                margin: 25px auto 32px auto;
            }
        }
        p {
            font-size: 16px;
            font-family: 'Encode Sans', sans-serif;
            color: #ffffff;
            line-height: 25px;
        }
    }
}